*{
padding: 0;
margin: 0;
font-family: sans-serif;
overflow-x: hidden;

}

.div1{
    height: 100px;
    width: 100%;
    background-color: #111420;
display: flex;
justify-content: center;
align-items: center;

}
.logo{
    height: 100px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    height: 100%;
    width: 60%;
}
.search-bar{
    height: 100px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
color: #FF7200;
font-size: 36px;
font-family: sans-serif;
text-transform: uppercase;

}
.nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul li{
    margin: 38px 30px;
}
.nav ul li a{
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.srch{
    padding: 10px;
    background-color: transparent;
    border: 2px solid #FF7200;
    outline: none;color: white;
    border-radius: 5px;
}
.btn{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #FF7200;
    color: white;
    background-color: #FF7200;
}
.herosection{
    height: 600px;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/396547/pexels-photo-396547.jpeg?auto=compress&cs=tinysrgb&w=800);
    display: flex;
}
.text{
    height: 600px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    height: 600px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text h1{
    color: white;
    font-size: 64px;
}
.text p{
    color: white;
    padding-left: 120px;
    margin-top: 20px;
}
.text button{
    padding: 10px 50px;
    margin: 30px 0px 0px 0px;
    background-color: #FF7200;
    border: 2px solid #FF7200;
    border-radius: 5px;
    cursor: pointer;
}
.text button:hover{
    background-color: transparent;
    color: WHITE;
}
.farm{
height: 400px;
width: 300px;
border: 2px solid white;
backdrop-filter: blur(10px);
display: flex;
flex-direction: column;
align-items: center;
border-radius: 25px;
}
.btn2{
padding: 10px 60px;
color: #FF7200;
background-color: white;
outline: none;
border: 2px solid #FF7200;
border-radius: 5px;
margin-top: 20px;

}
.farm input{
    margin-top: 40px;
    padding: 10px 40px;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
}
.btn3{
    padding: 10px 80px;
color: white;
background-color: #FF7200;
outline: none;
border: 2px solid #FF7200;
border-radius: 5px;
margin-top: 30px;
cursor: pointer;
}
.farm p{
    color: white;
    margin-top: 20px;
    text-align: center;
}
.farm p a{
    color: #FF7200;
    text-decoration: none;
    cursor: pointer;
}
.farm p a:hover{
    text-decoration: underline;
}
